body {
  font-family: Arial, Helvetica, sans-serif;
  background: url(/img/00_bg.jpg) no-repeat 0 0 fixed;
  background-size: 100vw 100vh;
}

/* ----------------------------------------------- */
.area {
  width: 100%;
  max-width: 1320px;
  margin: auto;
  box-sizing: border-box;
}
.subtitle {
  padding: 10px 0 20px 0;
}
.content-text {
  font-size: 16px;
}

h1 {
  font-size: 35px;
  font-weight: 900;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}
h3 {
  font-size: 22px;
  font-weight: 700;
}
h5 {
  font-size: 20px;
  font-weight: 700;
}
h6 {
  font-size: 16px;
  font-weight: 500;
}

/* ----------------------------------------------- */
/* header */
header {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.802);
  position: fixed;
  top: 0;
  z-index: 3;
  text-align: center;
  line-height: 80px;
}
nav {
  margin: auto;
}

header li {
  display: inline-block;
}

nav div {
  display: inline-block;
}

header .nav-link {
  float: right;
}

header .nav-link a {
  text-decoration: none;
  padding: 10px 15px;
  color: rgb(255, 255, 255);
  right: 0;
}
header img {
  width: 140px;
  margin-bottom: -22px;
}
header .logo {
  float: left;
}
.header-btn {
  background-color: #e24e0f;
  border-radius: 17px;
  margin: auto 10px;
}
a.header-btn:hover {
  background-color: #00d8f3;
}
/* ----------------------------------------------- */

/* section1 */

#section1 .bn-img {
  display: block;
  width: 80%;
  margin: auto;
  padding-top: 150px;
}
#section1 p {
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 2.5rem;
  margin: 40px;
}
#section1 p span {
  color: #00ffe6;
}
#section1 .date {
  display: block;
  width: 25%;
  padding: 30px 330px 50px 0;
  float: right;
}

/* ----------------------------------------------- */
/* section2 */
.section2 {
  background: #031b44eb;
  clear: both;
}
.section2 h2 {
  color: white;
  text-align: center;
  padding: 60px 0 10px 0;
}
#section2 .main-img {
  display: block;
  width: 80%;
  margin: auto;
}
#section2 .box {
  text-align: center;
}
#section2 .box-content {
  
  display: inline-block;
  color: white;
  text-align: center;
  padding: 60px 50px;
  line-height: 2em;
  
}
#section2 ul {
  list-style-type: disc;
  padding-top: 10px;
}

#section2 h3 {
  display: inline;
  font-style: italic;
  padding: 3px 20px;
  background: #e24e0f;
  font-size: 25px;
}

/* ----------------------------------------------- */
/* section3 */
#section3 {
  background: linear-gradient(
    45deg,
    rgb(75 202 223 / 75%) 10%,
    rgb(1 3 58) 40%,
    rgb(1 3 58) 55%,
    rgb(251 102 56 / 90%)
  );
  height: 450px;
  padding: 50px 50px 15px 50px;
  border-radius: 90px 0 0 0;
  color: white;
  line-height: 1.5rem;
}
#section3 .content {
  display: inline-block;
}

#section3 .title {
  line-height: 3rem;
  padding: 120px 0 20px 20px;
}

#section3 h3 {
  line-height: 2rem;
  padding-left: 20px;
  font-weight: 900;
}

#section3 .box {
  display: inline-block;
  width: 300px;
  height: 380px;
  overflow: hidden;
  padding: 15px;
  margin: 0px 30px 0 0;
  border: 1px solid rgb(135, 135, 135);
}
#section3 .img01 {
  background: url(/img/p-01.jpg) top center no-repeat;
  background-size: contain;
  position: relative;
}
#section3 .box-text1 {
  position: absolute;
  bottom: 10px;
}

#section3 .img02 {
  background: url(/img/p-02.jpg) top center no-repeat;
  background-size: contain;
  position: relative;
}
#section3 .box-text2 {
  position: absolute;
  bottom: 10px;
}

#section3 .img03 {
  background: url(/img/p-03.jpg) top center no-repeat;
  background-size: contain;
  position: relative;
}
#section3 .box-text3 {
  position: absolute;
  bottom: 10px;
}
#section3 h5 {
  padding: 15px 0;
}

#section3 .box-area {
  float: right;
}
/* ----------------------------------------------- */
.white-bar {
  height: 50px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 30%,
    rgb(255, 255, 255)
  );
}

/* ----------------------------------------------- */
/* section4 */
#section4 {
  background: #031b44eb;
  padding: 50px 0;
}
#section4 .title {
  color: white;
}
#section4 .box {
  width: 300px;
  height: 220px;
  overflow: hidden;
  border: 1px solid rgb(135, 135, 135);
}
#section4 .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#section4 a {
  text-decoration: none;
  color: white;
  display: block;
  width: 300px;
  line-height: 2em;
}
#section4 a:hover .box {
  box-shadow: -10px 10px 0 #00d8f3;
}
#section4 .content {
  display: inline-block;
  margin: auto;
  padding: 13px;
}
#section4 h6 {
  padding: 15px 0;
  text-align: justify;
}
/* ----------------------------------------------- */
/* section5 */
.section5 {
  background: linear-gradient(
    220deg,
    rgb(75 202 223 / 48%) 20%,
    rgb(1 3 58) 50%,
    rgb(1 3 58) 65%,
    rgb(251 102 56 / 77%) 80%
  );
  height: 580px;
  padding: 50px;
  color: white;
}

#section5 .text-box {
  width: 820px;
  height: 480px;
  background: linear-gradient(to left, #08c4dd, #2d2f6a);
  float: left;
}

#section5 .box {
  width: 612px;
  height: 407px;
  overflow: hidden;
  float: right;
  margin-left: -600px;
  margin-top: 35px;
}
#section5 .text-block {
  padding: 70px 200px 70px 70px;
  line-height: 1.5em;
}
#section5 .text-block h1 {
  display: block;
  width: 110px;
  padding: 10px;
  margin: 0 0 30px 0;
  color: black;
  background-color: white;
}

#section5 .text-block h3 {
  margin: 20px 0 30px 0;
}
#section5 .text-block h2 {
  margin-top: 50px;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.493);
}

#section5 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section5 .content {
  display: inline-block;
}

/* ----------------------------------------------- */
/* section6 */
#section6 {
  background: #031b44eb;
  padding: 50px 0;
}
#section6 .bold {
  font-size: 28px;
  font-weight: 700;
}
#section6 .white-text {
  color: white;
}
#section6 .bar {
  background: black;
  padding: 10px 12px;
  margin: 10px 0;
}
#section6 legend {
  background: white;
  padding: 5px 20px;
  border-radius: 3px;
}
#section6 fieldset {
  background: white;
  padding: 15px;
  border-radius: 10px 0;
  margin: 30px 0;
  box-shadow: -10px 10px 0 black;
}
#section6 .orange {
  display: block;
  width: 90px;
  font-style: italic;
  font-size: 18px;
  background: #ff4c00;
  color: white;
  padding: 0 15px;
  margin-bottom: -25px;
  text-align: center;
}
#section6 .blue {
  display: block;
  width: 90px;
  font-style: italic;
  font-size: 18px;
  background: #00fff5;
  color: rgb(0, 0, 0);
  padding: 0 15px;
  margin-bottom: -25px;
  text-align: center;
}

#section6 .content h3 {
  line-height: 2rem;
  font-size: 20px;
}
#section6 .content h4 {
  font-size: 24px;
  padding: 0 0 30px 0;
  line-height: 2rem;
}

#section6 p {
  padding: 5px 0;
}

#section6 .content {
  display: inline-block;
  width: 49%;
  margin-top: -10px;
}
#section6 .right-content {
  display: inline-block;
}
#section6 img {
  width: 105px;
  float: right;
  margin-top: -50px;
  margin-right: -20px;
}
.patrick h3 span {
  font-size: 16px;
  font-weight: 400;
}
.patrick img {
  padding-top: 30px;
}

/* ----------------------------------------------- */
/* section7 */
.section7 {
  background: #ffffffd2;
  padding: 30px 0;
}
.section7 img {
  display: block;
  height: 38px;
}
#section7 .center {
  margin: auto;
}
#section7 .main li {
  display: inline-block;
}
#section7 .media li {
  display: inline-block;
}
#section7 .partner li {
  display: inline-block;
}
#section7 .issue li {
  display: inline-block;
}
#section7 .voice li {
  display: inline-block;
}
#section7 .block {
  display: inline-block;
  width: 600px;
}
#section7 ul {
  margin: 30px;
}
#section7 li {
  padding: 2px 10px;
}
/* ----------------------------------------------- */
/* section8 */

.section8 {
  background: #63c8d5;
  padding: 50px 0;
}

#section8 .infor {
  display: inline-block;
  width: 49%;
}
#section8 iframe {
  width: 800px;
  height: 400px;
  float: right;
}

#section8 span {
  font-weight: 900;
  font-size: 20px;
  color: #2d2f6a;
}
#section8 a {
  text-decoration: none;
  color: white;
}
#section8 a:hover {
  color: #219bcb;
}
#section8 .top-text {
  line-height: 1.5rem;
}
#section8 .email {
  padding: 0px 0 30px 0;
}
#section8 .infor-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 2rem;
  position: relative;
}
#section8 .infor-content{
  position: absolute;
  top: -320px;
}
#section8 .bottom-block {
  margin-top: 40px;
}
#section8 .infor-text p {
  padding: 20px 0;
}
/* ----------------------------------------------- */
/* section9 */
.section9{
  background: url(/img/about_bg.jpg) bottom center ;
  background-size: cover;
  opacity: 90%;
  padding: 50px;
  color: white;
  text-align: center;
}
#section9 .mid-text{
  display: inline-block;
  width: 320px;
  height: 100px;
}
#section9 span{
  font-size: 60px;
  font-weight: 900;
  color: #00d8f3;
}
#section9 h4{
  font-size: 22px;
  font-weight: 600;
}
#section9 .middle-block{
  line-height: 2rem;
  margin: 55px 0;
}
#section9 .bottom-block p{
  line-height: 1.5rem;
  margin: 20px 0;
}





/* ----------------------------------------------- */
/* section10 */
#section10 {
  background: linear-gradient(
    220deg,
    rgb(75 202 223) 20%,
    rgb(1 3 58) 50%,
    rgb(1 3 58) 65%,
    rgb(251 102 56) 80%
  );
  height: 580px;
  padding: 50px;
  color: white;
}

#section10 button img {
  display: block;
  width: 30px;
  height: 30px;
}
#section10 button {
  background: #000000;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}
#section10 .button {
  float: right;
}

#section10 .bottom-block {
  width: 100%;
  height: 480px;
  overflow: hidden;
  margin: 20px 0;
}

#section10 .content {
  width: 3000px;
  margin-left: -250px;
}

#section10 .box {
  width: 260px;
  height: 420px;
  background: #000340;
  overflow: hidden;
  display: inline-block;
  margin: 20px 20px;
}

#section10 .img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}
#section10 .text {
  padding: 15px;
}
#section10 p {
  padding: 25px 0;
  line-height: 1.5rem;
}
/* ----------------------------------------------- */
/* section 11 */
.section11 {
  background-color: #0000008c;
  color: white;
  line-height: 1.5em;
  padding: 50px;
}
.section11 h2 {
  font-size: 50px;
  padding-bottom: 30px;
}
.section11 h2 span {
  font-size: 25px;
}
.section11 h4 {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 10px;
}
.section11 .text {
  padding: 20px 0;
}
.section11 a {
  text-decoration: none;
  color: #01e1ff;
}
.section11 a:hover {
  color: #219bcb;
}

/* ----------------------------------------------- */
/* footer */
.footer {
  background: #000340;
  padding: 30px 0;
  color: white;
  line-height: 1.5rem;
}
#footer a {
  text-decoration: none;
  color: #08c4dd;
}
#footer h6 {
  font-size: 22px;
  padding: 15px 0;
}
#footer .top {
  display: block;
  width: 45px;
  height: 45px;
  background: #dbdbdb;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  bottom: 50px;
  overflow: hidden;
}
#footer img {
  width: 100%;
}
